@font-face {
    font-family: 'Montserat';
    src: url(font/Montserrat-SemiBold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserat';
}
::selection{
    display: none;
}
body{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.logo{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 26px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}
.rows-container{
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 8px;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.square{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border: 2px solid #CAD3D8;
    background-color: #fafcff;
    border-radius: 6px;
    font-size: 30px;
}
.green{
    border: 2px solid #6FD61B;
    background-color: #6FD61B;
    color: white;
}
.yellow{
    border: 2px solid #ECD81E;
    background-color: #ECD81E;
    color: white;
}
.grey{
    border: 1px solid #747C81;
    background-color: #747C81;
    color: white;
}
.inputed{
    border: 2px solid #364C5D;
    background-color: white;
    color: #364C5D;
}
.result{
    border: 1px solid #6FD61B;
    background-color: #6FD61B;
    color: white;
    font-size: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    width: 76px;
}
.keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.keyboard-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.keyboard-key, .deleteKey, .enterKey{
    height: 50px;
    width: 60px;
    border-radius: 6px;
    border: 2px solid #D7DFEC;
    background-color: #D7DFEC;
    color: #364C5D;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s;
}
.longer-key{
    width: 94px;
}
.keyboard-key:hover, .deleteKey:hover, .enterKey:hover{
    background-color: #c1c9df;
    border:1px solid #c1c9df;
    transform: scale(1.04);
}
.keyboard-key:active, .deleteKey:active, .enterKey:active{
    background-color: #a6afc5;
    border:2px solid #a6afc5;
}